.landing_page {
  align-items: center;
  margin: auto;
}

.main_text_contents {
  max-width: 1000px;
  margin: 0px auto;
}

.main_image_text {
  background: url('@/assets/img/background1.jpg') center/cover no-repeat;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.search_box {
  height: 40px;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  width: 400px;
  margin-bottom: 2px;
}

.btn_search {
  font-size: var(--font-micro);
  background-color: var(--color-bread-b);
  color: var(--color-bread-a);
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  float: right;
  margin-top: 10px;
}

.similer_search {
  position: absolute;
  width: 400px;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: ivory;
}

.similer_search div {
  padding: 10px 15px;
  color: black;
  font-size: var(--font-micro);
}

.similer_search div:hover {
  background-color: var(--color-bread-a);
  color: white;
}

.main_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-bread-b);
  color: var(--color-bread-a);
  height: 100vh;
}
