.login {
  background-color: var(--color-bread-b);
}

.logo {
  margin-bottom: 20px;
}

.logo_img {
  width: 80px;
}

.logo_name {
  margin-top: 10px;
  text-align: center;
  font-size: var(--font-medium);
  font-weight: normal;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 360px;
  margin: auto;
  height: 100vh;
}

.input_id,
.input_pw {
  width: 360px;
  height: 60px;
  margin-bottom: 10px;
  padding: 10px;
}

.btn_login {
  width: 360px;
  height: 60px;
  margin-bottom: 10px;
  background-color: var(--color-bread-a);
  border: none;
  color: white;
  border-radius: 5px;
}

.btn_sign_up {
  width: 360px;
  height: 60px;
  margin-bottom: 10px;
  background-color: gray;
  border: none;
  color: white;
  border-radius: 5px;
}

.btn_login:hover,
.btn_sign_up:hover {
  cursor: pointer;
  background-color: var(--color-bread-c);
}

.id_pw_search,
.id_pw_search a {
  color: gray;
  text-decoration: none;
}

.back_img {
  position: fixed;
  font-size: var(--font-large);
  top: 20px;
  left: 40px;
  color: var(--color-bread-a);
}

.back_img:hover {
  cursor: pointer;
  color: var(--color-bread-c);
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 576px) {
  .section {
    max-width: 300px;
  }

  .input_id,
  .input_pw,
  .btn_login,
  .btn_sign_up {
    width: 300px;
  }
}
