/* Global */
:root {
  /* Main Color */
  --color-bread-a: #683b28;
  --color-bread-b: #f5f3ee;
  --color-grey: #616161;
  --color-bread-c: burlywood;
  --color-bread-d: #997a6b;

  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;

  --color-light-grey: #7c7979;
  --color-box-grey: #cdcaca;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 58px;
  --font-medium: 38px;
  --font-regular: 28px;
  --font-small: 20px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 20px;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Universal tags */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

#app {
  height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');

body {
  font-family: 'Dongle', sans-serif;
  margin: 0px;
  background-color: var(--color-bread-b);
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

hr {
  width: 100%;
  height: 1px;
  border: none;
  background-color: var(--color-black);
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* HomeView.vue */
.landing-page {
  align-items: center;
  margin: auto;
  /* footer고정용 */
  height: auto;
  min-height: 100%;
  padding-bottom: 120px;
}

.main-text-contents {
  max-width: 1000px;
  margin: 0px auto;
}

.main-image-text {
  background: url('@/assets/img/background1.jpg') center/cover no-repeat;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.search-box {
  height: 40px;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  width: 400px;
  margin-bottom: 2px;
}

.btn-search {
  font-size: var(--font-micro);
  background-color: var(--color-bread-b);
  color: var(--color-bread-a);
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  float: right;
  margin-top: 10px;
}

.btn-search:hover {
  background-color: var(--color-bread-a);
  color: white;
}

.similer-search {
  position: absolute;
  width: 400px;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: ivory;
}

.similer-search div {
  padding: 10px 15px;
  color: black;
  font-size: var(--font-micro);
}

.similer-search div:hover {
  background-color: var(--color-bread-a);
  color: white;
}

.main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-bread-b);
  color: var(--color-bread-a);
  height: 100vh;
}

.current-location-box .location {
  font-size: var(--font-medium);
  position: relative;
  bottom: -5px;
  margin-left: 10px;
}

.current-location-box .location-detail {
  display: inline-block;
  margin-left: 10px;
}

.current-location-box::after {
  content: '';
  display: block;
  width: 1000px;
  border-bottom: 1px solid black;
}

.card-area {
  margin-top: 20px;
  width: 950px;
  display: flex;
  justify-content: space-between;
}

.card-box {
  background-color: var(--color-bread-b);
  width: 300px;
  height: 400px;
  border: 1px solid gray;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 3px #999;
  padding: 25px;
}

.card-box .card-img img {
  width: 250px;
  height: 250px;
}

.card-box .card-text {
  margin-left: 10px;
}

@media screen and (max-width: 992px) {
  .main-text-contents {
    max-width: 700px;
  }
}

@media screen and (max-width: 768px) {
  .main-text-contents {
    max-width: 400px;
  }
}

@media screen and (max-width: 576px) {
  .main-text-contents {
    max-width: 320px;
  }
  .search-box,
  .similer-search {
    max-width: 320px;
  }
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* LoginView.vue */
.login {
  background-color: var(--color-bread-b);
}

.logo {
  margin-bottom: 20px;
}

.logo-img {
  width: 80px;
}

.logo-name {
  margin-top: 10px;
  text-align: center;
  font-size: var(--font-medium);
  font-weight: normal;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 360px;
  margin: auto;
  height: 100vh;
}

.input-id,
.input-pw {
  width: 360px;
  height: 60px;
  margin-bottom: 10px;
  padding: 10px;
}

.btn-login {
  width: 360px;
  height: 60px;
  margin-bottom: 10px;
  background-color: var(--color-bread-a);
  border: none;
  color: white;
  border-radius: 5px;
}

.btn-sign-up {
  width: 360px;
  height: 60px;
  margin-bottom: 10px;
  background-color: gray;
  border: none;
  color: white;
  border-radius: 5px;
}

.btn-login:hover,
.btn-sign-up:hover {
  cursor: pointer;
  background-color: var(--color-bread-c);
}

.id-pw-search,
.id-pw-search a {
  color: gray;
  text-decoration: none;
}

.back-img {
  position: fixed;
  font-size: var(--font-large);
  top: 20px;
  left: 40px;
  color: var(--color-bread-a);
}

.back-img:hover {
  cursor: pointer;
  color: var(--color-bread-c);
}

@media screen and (max-width: 576px) {
  .section {
    max-width: 300px;
  }

  .input-id,
  .input-pw,
  .btn-login,
  .btn-sign-up {
    width: 300px;
  }
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* SignupUserView.vue */
.sign-up-user {
  background-color: var(--color-bread-b);
  height: 100vh;
  padding-top: 20vh;
}

.sp-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 2px solid black;
  max-width: 760px;
  margin: auto;
}

.sp-input-box {
  display: flex;
  flex-direction: column;
  max-width: 760px;
  margin: auto;
}

.t-box,
.e-box,
.p-box,
.phone-box {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sp-input-box label {
  flex: 20%;
}

.sp-input-box input {
  flex: 70%;
  height: 50px;
  margin: auto;
  padding: 5px;
}

.sp-btn {
  display: flex;
  justify-content: right;
  max-width: 760px;
  margin: auto;
}

.sp-btn button {
  width: 380px;
  height: 50px;
  margin-top: 20px;
}

.sp-btn-ok {
  background-color: var(--color-bread-a);
  color: white;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.sp-btn-cancel {
  background-color: var(--color-grey);
  color: white;
  border: none;
  border-radius: 5px;
}

@media screen and (max-width: 992px) {
  .sp-header,
  .sp-input-box,
  .sp-btn {
    max-width: 750px;
  }
}

@media screen and (max-width: 768px) {
  .sp-header,
  .sp-input-box,
  .sp-btn {
    max-width: 560px;
  }
}

@media screen and (max-width: 576px) {
  .sp-header,
  .sp-input-box,
  .sp-btn {
    max-width: 340px;
  }
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* DongneStoreView.vue */
.dongne-contents {
  /* footer고정용 */
  height: auto;
  min-height: 100%;
  padding-bottom: 120px;
}

.dongne-contents-box {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dongne-contents-box .card-area {
  flex-wrap: wrap;
}

.dongne-contents-box .card-area .card-box {
  margin-bottom: 15px;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* DongneRegistView.vue */
.dongne-regist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* footer고정용 */
  height: auto;
  min-height: 100%;
  padding-bottom: 120px;
}

.dongne-regist-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dcd1ca;
  width: 60%;
  height: 350px;
  border-radius: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
  color: var(--color-bread-a);
}

.dongne-regist-button-section-one {
  display: flex;
  justify-content: space-between;
  width: 320px;
}

.dongne-regist-button-section-one .btn-area1 {
  position: relative;
  background-color: var(--color-bread-a);
  border-radius: 10px;
  width: 150px;
  height: 150px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dongne-regist-button-section-one .btn-area1 p {
  font-size: var(--font-regular);
}

.dongne-regist-button-section-one .btn-area1 .x-mark {
  position: absolute;
  top: 10%;
  right: 10%;
}

.dongne-regist-button-section-one .btn-area2 {
  background-color: gray;
  border-radius: 10px;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: var(--font-medium);
}

.dongne-regist-button-section-two .btn-dongne {
  background-color: var(--color-bread-a);
  border: none;
  padding: 5px 10px;
  width: 400px;
  height: 70px;
  border-radius: 10px;
  color: white;
  font-size: var(--font-regular);
}

.modal-content {
  background-color: var(--color-bread-b);
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
/* User MyPage */

.mypage {
  display: flex;
  padding: 20px 20px;
  margin: auto;
  max-width: 1000px;
  /* footer고정용 */
  height: auto;
  min-height: 100%;
  padding-bottom: 120px;
}

.mypage-side {
  width: 22%;
  height: 200px;
  background-color: var(--color-bread-b);
  margin-right: 30px;
}

.mypage-profile {
  display: flex;
  justify-content: space-around;
  background-color: var(--color-box-grey);
  border-radius: var(--size-border-radius);
  height: 60px;
  padding: 20px;
  margin-bottom: 10px;
}

.mypage-profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
  position: relative;
  bottom: 15px;
}

.mypage-profile-name {
  font-size: var(--font-small);
  line-height: 22px;
  padding-right: 10px;
}

.mypage-navbar {
  background-color: var(--color-box-grey);
  border-radius: var(--size-border-radius);
  height: 180px;
  padding: 10px 0 0 20px;
}

.mypage-navbar-menu {
  padding: 5px 5px;
  font-size: var(--font-small);
}

.mypage-main {
  width: 88%;
  height: 650px;
  background-color: var(--color-box-grey);
  border-radius: var(--size-border-radius);
  padding: 0 30px;
}

.mypage-main-title {
  padding-top: 5px;
}

/* DongneSettingView.vue */
.mypage-dongne-regist-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dcd1ca;
  width: 90%;
  height: 350px;
  border-radius: 40px;
  margin: 90px auto;
  line-height: 80px;
  color: var(--color-bread-a);
}

.mypage-dongne-regist-button-section-one {
  display: flex;
  justify-content: space-between;
  width: 320px;
}

.mypage-dongne-regist-button-section-one .btn-area1 {
  position: relative;
  background-color: var(--color-bread-a);
  border-radius: 10px;
  width: 150px;
  height: 150px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mypage-dongne-regist-button-section-one .btn-area1 p {
  font-size: var(--font-regular);
}

.mypage-dongne-regist-button-section-one .btn-area1 .x-mark {
  position: absolute;
  top: 10%;
  right: 10%;
}

.mypage-dongne-regist-button-section-one .btn-area2 {
  background-color: gray;
  border-radius: 10px;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: var(--font-medium);
}

.modal-content {
  background-color: var(--color-bread-b);
}

/* RegistFvBreadView.vue */
.guide {
  color: var(--color-bread-a);
}

.bread-tag-container {
  display: flex;
  flex-wrap: wrap;
}

.bread-tag {
  background-color: var(--color-light-white);
  padding: 3px 15px;
  margin: 7px 7px 7px 0px;
  border-radius: 10px;
  border: 2px solid var(--color-bread-a);
  font-size: var(--font-small);
}

.bread-add {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 78.99px;
  height: 40px;
  background-color: var(--color-light-white);
  padding: 5px 15px;
  margin: 7px;
  border-radius: 10px;
}

/* RegistBakeryView.vue */
.mypage-main-bakery {
  width: 88%;
  height: 700px;
  background-color: var(--color-box-grey);
  border-radius: var(--size-border-radius);
  padding: 0 30px;
}
.regist-bakery-form {
  margin-bottom: 10px;
}

.regist-bakery-form-title {
  font-size: var(--font-small);
}

#store_detail {
  width: 50%;
}

.send_code,
.send_code_confirm,
.address_search {
  margin-left: 2px;
}

#store_address {
  width: 40%;
}

#store_address_detail {
  width: 40%;
}

#store_tel,
#store_address_code,
#store_address {
  margin-bottom: 2px;
}

.brg-btn {
  text-align: center;
}

.bakery-regist-button {
  background-color: var(--color-bread-a);
  color: var(--color-white);
  width: 50px;
  margin-top: 10px;
}

/* UserInfoUpdateView.vue */
.user-info-update-container {
  display: flex;
}

.user-info-title,
.user-info-input {
  font-size: var(--font-regular);
}

.user-info-title {
  width: 150px;
}

.user-info-input {
  display: flex;
  flex-direction: column;
}

.profile-img-upload {
  display: flex;
  justify-content: space-between;
}

.profile-img-update-button {
  position: relative;
  left: 250px;
  top: 30px;
  font-size: var(--font-small);
  height: 35px;
}

.uiu-btn {
  text-align: center;
}

.user-info-update-button,
.user-info-delete-button {
  background-color: var(--color-bread-a);
  color: var(--color-white);
  width: 80px;
  margin: 5px;
}

.profile-img-update-button {
  background-color: var(--color-bread-a);
  color: var(--color-white);
  width: 80px;
  margin: 5px;
}

.mypage-profile-img-update {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
  position: relative;
  margin: 3px;
}

.profile-img-regist-guide {
  font-size: var(--font-small);
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
