.main_image_text {
  background: url('@/assets/img/background1.jpg') center/cover no-repeat;
  padding: 60px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search_box {
  height: 40px;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  width: 400px;
  margin-bottom: 10px;
}

.btn_search {
  font-size: var(--font-micro);
  border: none;
  padding: 10px 15px;
  background-color: var(--color-bread-b);
  border-radius: 10px;
  color: var(--color-bread-a);
  display: block;
}

.similer_search {
  width: 100%;
  border: 1px solid rgb(217, 217, 217);
  background-color: gray;
}

.main_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-bread-b);
  color: var(--color-bread-a);
  height: 100vh;
}
