.footer {
  background-color: var(--color-bread-a);
}

.footer_img {
  width: 100px;
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  font-size: var(--font-micro);
  color: white;
  max-width: 1000px;
}
